#lk-page
{
	width: 380px;
	top: 250;
}

#hello-page
{
	width: 380px;
	margin-top: 50px;
}

#logo-center
{
    margin-top: 20px;
}

#news-right
{
    margin-top: 20px;
}

#timer-div
{
	font-size: 60px;
	width: 380px;
}

#backg-timer
{
	width: 380px;
}

.form-field::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}/*TODO: IE&FF?!*/
.form-field::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.form-field:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.form-field:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.form-field:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form-field:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form-field:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form-field:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

#reg-hint-1
{
	display: none;
}

#reg-hint-2
{
	display: none;
}

#reg-hint-3
{
	display: none;
}

#reg-hint-4
{
	right: 80px;
	top: 290px;
	width: 210px;
}

#reg-hint-4-pic
{
	right: 185px;
	top: -15px;
	transform: scaleX(-1) rotate(130deg);
}

.pers-name-part
{
	font-size: 24px;
}

.wide-mode-pic
{
	display: none;
}

.tiny-mode-pic
{
	display: block;
}

#progress-perc-info
{
	top: -5px;
	left: 0px;
}

#progress-pointer
{
	top: 30px;
	left: 219px;
	transform: scaleX(-1) rotate(-70deg);
}

.pers-logo
{
	top: -200px;
}

.pers-name-part
{
	top: -60px;
}

#progress-center
{
	margin-top: 15px;
	margin-bottom: -10px;
}

#captcha-hint
{
	position: relative;
	top: -70px;
	left: 24px;
	color: black;
}

#captcha-hint-pic
{
	position: relative;
	top: 3px;
	left: 3px;
}