#hello-page
{
	width: 380px;
    height: 950px;
}

#logo-center
{
    margin-top: 20px;
}

#news-right
{
    margin-top: 20px;
}

#timer-div
{
	font-size: 60px;
	width: 380px;
}

#backg-timer
{
	width: 380px;
}

#hello-page
{
	margin-top: 50px;
}