#hello-page
{
	width: 1100px;
    height: 300px;
}

#leader-left
{
    margin-right: 30px;
}

#news-right
{
    margin-left: 30px;
}

#timer-div
{
	font-size: 100px;
	width: 1100px;
}

#backg-timer
{
	width: 1100px;
}

#hello-page
{
	margin-top: 100px;
}