@font-face
{
	font-family: "Quartz";
	src: url("fonts/QuartzMS.TTF");
}

@font-face
{
	font-family: "MyriadPro";
	src: url("fonts/MyriadPro.otf");/*todo: лицензии шрифтов*/
}

@font-face
{
	font-family: "BuxtonSketch";
	src: url("fonts/BuxtonSketch.ttf");
}

body
{
	overflow-x: hidden;
	margin: 0;
	font-family: "MyriadPro";
	background: #030303 url('../images/background.jpg') no-repeat;
	color: white;
	position: relative;
}

a
{
	color: white;
}

.buxton
{
	font-family: "BuxtonSketch";
}

.quartz
{
	font-family: "Quartz";
}

.flip-vertical
{
	transform: scaleY(-1);
}

.flip-horisontal
{
	transform: scaleX(-1);
}

.flip-vertical.flip-horisontal
{
	transform: scaleX(-1) scaleY(-1);
}

.font23px
{
	font-size: 23px;
}

.font15px
{
	font-size: 15px;
}

.font40px
{
	font-size: 40px;
}

.font50px
{
	font-size: 40px;
}

.floatLeft
{
	float: left;
}

.color4E
{
	color: #4E4E4E;
}

.underlined
{
	text-decoration: underline;
}

.kill-result
{
    background: #222;
    border: 1px solid #525252;
	border-radius: 2px;
    color: #fff;
    height: 74px;
    width: 300px;
	display: none;
}

.kill-info
{
	margin-top: 27px
}

.inrow
{
	display: inline-block;
	vertical-align: top;
}

#simple-ended
{
	opacity: 0.7;
}

#watch-ended
{
	display: none;
	position: relative;
	bottom: 80px;
	font-size: 20px;
}

#arrow-container
{
	position: relative;
}

#list-arrow-right
{
	position: absolute;
	top: 25px;
	left: 275px;
	cursor: pointer;
}

#list-arrow-left
{
	position: absolute;
	top: 25px;
	left: -10px;
	cursor: pointer;
}

#progress-perc-info
{
	width: 300px;
	position: absolute;
}

#progress-pointer
{
	position: absolute;
}

#pers-name-part-left
{
	left: calc(50% - 10px);
	transform: translate(-100%, 0);
}

#pers-name-part-center
{
	left: calc(50% - 5px);
}

#pers-name-part-right
{
	left: calc(50% + 10px);
}

.pers-name-part
{
	opacity: 0;
	text-align: center;
	position: absolute;
	pointer-events: none;
}

.incircle-info
{
	text-align: center;
	height: 285px;
	width: 130px;
	position: absolute;
	top: 145px;
	transform: translate(-50%, 0);
	pointer-events: none;
}

#score-info
{
	left: calc(50% + 45px);
}

#kills-info
{
	left: calc(50% - 45px);
}

#rating-info
{
	left: 50%;
	top: 60px;
}

.progress-info
{
	font-family: "Quartz";
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translate(-50%, 0);
	text-align: center;
	width: 200px;
}

.center-absolute
{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

#progress-center
{
	opacity: 0;
	height: 300px;
	width: 285px;
	pointer-events: none;
	position: relative;
}

#words-right
{
	width: 310px;
	height: 310px;
	opacity: 0;
	display: none;
	text-align: center;
}

#victim-left
{
	width: 310px;
	height: 330px;
	opacity: 0;
	display: none;
	text-align: center;
}

.score-progress
{
	top: 18px;
	height: 250px;
	width: 250px;
	pointer-events: none;
}

.score-progress > svg {
	height: 100%;
	display: block;
}

.pers-logo
{
	opacity: 0;
	pointer-events: none;
}

#backg-timer
{
	margin-top: 40px;
	position: absolute;
	top: 0;
	z-index: -1;
}

#timer-div
{
	font-family: "Quartz";
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

#text330
{
	width: 330px;
	text-align: left;
}

#lk-page
{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -1;
	text-align: center;
}

#hello-page
{
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

#inside-logo
{
	top: 0;
	margin-top: 65px;
	cursor: pointer;
}

#leaderboard
{
	width: 360;
	height: 230px;
	overflow-y: auto;
	overflow-x: hidden;
}

#leader-left
{
	position: relative;	
	height: 300px;
	width: 340px;
}

#logo-center
{
	position: relative;
	height: 300px;
	width: 300px;
}

#news-right
{
	position: relative;
	height: 300px;
	width: 340px;
}

.reg-hint-pic
{
	position: absolute;
}

#main-div
{
	overflow: hidden;
}

#enter-hint
{
	position:absolute;
	margin-left: 220px;
	width: 80px;
}

#copyright
{
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	margin-left: 10px;
}

#socnetw
{
	position: absolute;
	bottom: 0;
	right: 0;
}

#sochint
{
	position: absolute;
	right: 0;
	margin-top: -30px;
	margin-right: 70px;
	width: 200px;
}

#return-hint
{
	left: 205px;
	margin-top: -30px;
	width: 108px;
}

#rules-wrapper
{
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
	width: 370px;
	height: 0;
	max-height: 420px;
	top: -55px;
	opacity: 0;
}

#back-from-rules
{
	text-align: center;
	display: none;
	top: 290px;
}

#registr
{
	display: none;
	opacity: 0;
	width: 400px;
	top: 0;
	opacity: 0;
}

.form-field
{
	font-size: 17px;
	line-height: 20px;
	margin-bottom: 16px;
	border-radius: 3px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
	background-color: transparent;
	text-align: center;
	color: white;
}

.victim-field
{
	width: 250px;
}

.reg-field
{
	width: 5px; /*250*/
}

.reg-hint
{
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

#reg-back
{
	font-size: 13px;
	top: 273px;
	opacity: 0.8;
}

#captcha-hint
{
	position: relative;
	top: -50px;
	left: 271px;
}

.reg-header
{
	font-weight: bold;
}

.ach-selected
{
	background-image: url('../images/achievementSelected.png');
}

.clickable
{
	cursor: pointer;
}

::-webkit-scrollbar {/*todo crossbrowser*/
	width: 6px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}			

/*lb*/
@keyframes rotating-loading-bar
{
	from
	{
		transform: translate(-50%, 0) rotate(0deg);
	}
	to
	{
		transform: translate(-50%, 0) rotate(360deg);
	}
}

.loading-bar
{
	position: absolute;
	left: 50%;
	animation: rotating-loading-bar 3s linear infinite;
	top: 1px;
	height: 280px;
	width: 280px;
	pointer-events: none;
}

.loading-bar > svg {
	height: 100%;
	display: block;
}
