#lk-page
{
	width: 1100px;
	top: 300;
}

#hello-page
{
	width: 1100px;
	margin-top: 100px;
	height: 320px;
}

#leader-left
{
    margin-right: 30px;
}

#news-right
{
    margin-left: 30px;
}

#timer-div
{
	font-size: 100px;
	width: 1100px;
}

#backg-timer
{
	width: 1100px;
}

.form-field::-webkit-input-placeholder       {opacity: 0;}
.form-field::-moz-placeholder                {opacity: 0;}
.form-field:-moz-placeholder                 {opacity: 0;}
.form-field:-ms-input-placeholder            {opacity: 0;}

#reg-hint-1
{
	right: -175px;
	top: 80px;
	width: 210px;
}

#reg-hint-2
{
	width: 200px;
	left: -130px;
	top: 160px;
}

#reg-hint-3
{
	width: 230px;
	right: -195px;
	top: 120px;
}

#reg-hint-4
{
	left: -140px;
	top: 210px;
	width: 210px;
}

#reg-hint-1-pic
{
	left: -31px;
}

#reg-hint-2-pic
{
	right: 4px;
	top: 0px;
}

#reg-hint-3-pic
{
	left: -31px;
	top: 100px;
}

#reg-hint-4-pic
{
	right: -40px;
	top: 20px;
}

.pers-name-part
{
	font-size: 40px;
}

.wide-mode-pic
{
	display: block;
}

.tiny-mode-pic
{
	display: none;
}

#progress-perc-info
{
	top: 3px;
	left: 200px;
}

#progress-pointer
{
	top: 0px;
	left: -20px;
}

.pers-logo
{
	top: -250px;
}

.pers-name-part
{
	top: -110px;
}

#words-right
{
	margin-top: 10px;
}

#partners
{
	margin-top: 60px;
}